.margin-top10{margin-top:10px;}
.margin-top20{margin-top:20px;}
.margin-top30{margin-top:30px;}
.margin-top40{margin-top:40px;}
.margin-bottom10{margin-bottom:10px;}
.margin-bottom20{margin-bottom:20px;}
.margin-bottom30{margin-bottom:30px;}
.margin-bottom40{margin-bottom:40px;}
.border-999{border: 1px solid #999;}
.border-eee{border: 1px solid #eee;}
.center{text-align: center;}
.width100{width: 100%;}
.height30{height: 30px;}