<div class="panel panel-primary">
    <div class="panel-heading">Cars</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Registration Number</th>
            <th>Model</th>
            <th>Associated Device Id</th>
            <th>Associated Driver Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of cars">
            <td>{{car.id}}</td>
            <td>{{car.registrationNumber}}</td>
            <td>{{car.model}}</td>
            <td>{{car.associatedDeviceId}}</td>
            <td>{{car.associatedDriverId}}</td>
            <td>
                <a class="btn btn-default" [routerLink]="['/car/view',car.id]">Details</a>
                <a class="btn btn-primary" [routerLink]="['/car/edit', car.id]">Edit</a>
                <a class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<back-button></back-button>