<div *ngIf="errorMsg">
    <div class="alert alert-danger" role="alert">{{errorMsg}}</div>
</div>
<div *ngIf="successMsg">
    <div class="alert alert-success" role="alert">{{successMsg}}</div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Devices</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>IMEI</th>
            <th>Make</th>
            <th>Phone Number</th>
            <th>Network Provider</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let device of devices">
            <td>{{device.imei}}</td>
            <td>{{device.device_make}}</td>
            <td>{{device.device_phone_number}}</td>
            <td>{{device.network_provider}}</td>
            <td>
                <a class="btn btn-default" [routerLink]="['/device/view',device.imei]">Details</a>
                <a class="btn btn-primary" [routerLink]="['/device/edit', device.imei]">Edit</a>
                <a class="btn btn-danger" (click)="deleteDevice(device.imei)">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<back-button></back-button>