<div *ngIf="errorMsg">
    <div class="alert alert-danger" role="alert">{{errorMsg}}</div>
</div>
<div *ngIf="successMsg">
    <div class="alert alert-success" role="alert">{{successMsg}}</div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Drivers</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>License Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact Number</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let driver of drivers">
                <td>{{driver.driver_license_no}}</td>
                <td>{{driver.first_name}}</td>
                <td>{{driver.last_name}}</td>
                <td>{{driver.contact_num}}</td>
                <td>
                    <a class="btn btn-default" [routerLink]="['/driver/view',driver.driver_license_no]">Details</a>
                    <a class="btn btn-primary" [routerLink]="['/driver/edit', driver.driver_license_no]">Edit</a>
                    <a class="btn btn-danger" (click)="deleteDriver(driver.driver_license_no)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--
<back-button></back-button>
-->
